@property --myColor1 {
    syntax: '<color>';
    initial-value: #F97247;
    inherits: false;
}

@property --myColor2 {
    syntax: '<color>';
    initial-value: #F97247;
    inherits: false;
}

@property --myColor3 {
    syntax: '<color>';
    initial-value: transparent;
    inherits: false;
}

@property --myColor4 {
    syntax: '<color>';
    initial-value: transparent;
    inherits: false;
}

@property --myColor5 {
    syntax: '<color>';
    initial-value: #311212;
    inherits: false;
}

@property --myColor6 {
    syntax: '<color>';
    initial-value: #311212;
    inherits: false;
}