*,
*::before,
*::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

img {
  display: block;
  max-width: 100%;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Lexend */
@font-face {
  font-family: "Lexend";
  src: url("../fonts/Lexend/Lexend-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lexend";
  src: url("../fonts/Lexend/Lexend-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lexend";
  src: url("../fonts/Lexend/Lexend-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 10px;
  height: 100%;
}

body {
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.25;
  color: var(--color-white);
  background-color: var(--color-dark);
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

p {
  line-height: 1.6;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

:root {
  --color-dark: #191D0A;
  --color-accent: #F97247;
  --color-pink: #F29DA2;
  --color-yellow: #EBF29D;
  --color-brown: #311212;
  --color-white: #FFFFFF;
  --border-thick: 4px solid var(--color-accent);
  --border-middle: 3px solid var(--color-accent);
  --border-thin: 2px solid var(--color-accent);
  --font-family-base: "Lexend", sans-serif;
  --container-width: 1640px;
  --container-padding-x: 10px;
  --btn-small-height: 48px;
  --btn-big-height: 72px;
  --transition-duration: 0.3s;
}

@property --myColor1 {
  syntax: "<color>";
  initial-value: #F97247;
  inherits: false;
}
@property --myColor2 {
  syntax: "<color>";
  initial-value: #F97247;
  inherits: false;
}
@property --myColor3 {
  syntax: "<color>";
  initial-value: transparent;
  inherits: false;
}
@property --myColor4 {
  syntax: "<color>";
  initial-value: transparent;
  inherits: false;
}
@property --myColor5 {
  syntax: "<color>";
  initial-value: #311212;
  inherits: false;
}
@property --myColor6 {
  syntax: "<color>";
  initial-value: #311212;
  inherits: false;
}
.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin: 0 auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

.noscroll {
  overflow: hidden;
}

.btn {
  padding: 0;
  background: transparent;
  border: none;
  border-radius: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--btn-small-height);
  padding-inline: 1.4rem;
  font-size: 1.6rem;
  color: var(--color-white);
  text-transform: uppercase;
  border-radius: 2.4rem;
  background: linear-gradient(225deg, var(--myColor1), var(--myColor2));
  cursor: pointer;
  transition: --myColor1 0.5s, --myColor2 0.5s;
}
@media (hover: hover) {
  .btn:hover {
    --myColor1: var(--color-accent);
    --myColor2: var(--color-pink);
  }
}
@media (hover: none) {
  .btn:active {
    --myColor1: var(--color-accent);
    --myColor2: var(--color-pink);
  }
}
@media (max-width: 1023px) {
  .btn {
    font-size: 1.4rem;
    height: 4rem;
  }
}
.btn--limpid {
  background: linear-gradient(225deg, var(--myColor3), var(--myColor4));
  border: 2px solid var(--color-yellow);
  transition: --myColor3 0.3s, --myColor4 0.3s;
}
@media (hover: hover) {
  .btn--limpid:hover {
    --myColor3: var(--color-accent);
    --myColor4: var(--color-pink);
    border-color: transparent;
  }
}
@media (hover: none) {
  .btn--limpid:active {
    --myColor3: var(--color-accent);
    --myColor4: var(--color-pink);
    border-color: transparent;
  }
}
@media (max-width: 767px) {
  .btn--limpid {
    width: 3.6rem;
    height: 3.6rem;
    padding: 0;
    border-radius: 50%;
  }
}
.btn--burger {
  padding: 0;
  background: transparent;
  border: none;
  border-radius: 0;
  width: 3.6rem;
  height: 3.6rem;
}
.btn--burger span {
  position: relative;
  font-size: 0;
  width: 2.1rem;
  height: 2px;
  border-radius: 5px;
  background: var(--color-white);
}
.btn--burger span::before, .btn--burger span::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background-color: inherit;
  transition: all 0.2s ease-in-out;
}
.btn--burger span::before {
  top: -6px;
}
.btn--burger span::after {
  top: 6px;
}
.btn--burger.active span {
  background: transparent;
}
.btn--burger.active span::before, .btn--burger.active span::after {
  background-color: var(--color-white);
  border-radius: 0;
  top: 0;
}
.btn--burger.active span::before {
  transform: rotate(45deg);
}
.btn--burger.active span::after {
  transform: rotate(-45deg);
}

.header {
  padding-top: 1.6rem;
  position: relative;
  z-index: 2;
}
.header__inner {
  height: 9.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: var(--border-thick);
  border-radius: 6.4rem;
}
@media (max-width: 1023px) {
  .header__inner {
    height: 7.5rem;
  }
}
@media (max-width: 767px) {
  .header__inner {
    height: 5.6rem;
    border-width: 0.2rem;
  }
}
.header__logo {
  width: 28.7rem;
  height: 3.2rem;
}
@media (max-width: 1280px) {
  .header__logo {
    width: 5rem;
  }
}
@media (max-width: 1023px) {
  .header__logo {
    width: 1.5rem;
  }
}
.header__menu {
  font-size: 1.6rem;
}
@media (max-width: 1023px) {
  .header__menu {
    font-size: 1.4rem;
  }
}
.header__menu-list {
  display: flex;
  -moz-column-gap: 3.2rem;
       column-gap: 3.2rem;
}
@media (max-width: 1023px) {
  .header__menu-list {
    -moz-column-gap: 1.2rem;
         column-gap: 1.2rem;
  }
}
.header__menu-link {
  color: inherit;
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 4rem;
}
.header__menu-link, .header__menu-link:hover {
  text-decoration: none;
}
@media (hover: hover) {
  .header__menu-link:hover::after {
    width: 100%;
  }
}
@media (hover: none) {
  .header__menu-link:active::after {
    width: 100%;
  }
}
.header__menu-link::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  top: 75%;
  left: 50%;
  translate: -50%;
  background-color: currentColor;
  transition: inherit;
}
.header__buttons {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 1.4rem;
       column-gap: 1.4rem;
  padding-right: 4.8rem;
}
@media (max-width: 1023px) {
  .header__buttons {
    -moz-column-gap: 0.8rem;
         column-gap: 0.8rem;
    padding-right: 1.4rem;
  }
}
@media (max-width: 767px) {
  .header__buttons {
    -moz-column-gap: 0.4rem;
         column-gap: 0.4rem;
  }
}
.header__buttons-lang {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  -moz-column-gap: 0.85rem;
       column-gap: 0.85rem;
}
.header__buttons-lang:hover .header__buttons-lang-list {
  height: 15rem;
  z-index: 1;
  opacity: 1;
}
@media (max-width: 1023px) {
  .header__buttons-lang:hover .header__buttons-lang-list {
    height: 12.5rem;
  }
}
.header__buttons-lang:hover .header__buttons-lang-item:first-child {
  top: 5.2rem;
  opacity: 1;
}
@media (max-width: 1023px) {
  .header__buttons-lang:hover .header__buttons-lang-item:first-child {
    top: 4.2rem;
  }
}
@media (max-width: 767px) {
  .header__buttons-lang:hover .header__buttons-lang-item:first-child {
    top: 3.8rem;
  }
}
.header__buttons-lang:hover .header__buttons-lang-item:last-child {
  top: 10.5rem;
  opacity: 1;
}
@media (max-width: 1023px) {
  .header__buttons-lang:hover .header__buttons-lang-item:last-child {
    top: 8.5rem;
  }
}
@media (max-width: 767px) {
  .header__buttons-lang:hover .header__buttons-lang-item:last-child {
    top: 7.5rem;
  }
}
.header__buttons-lang-list {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 2.4rem;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.header__buttons-lang-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--btn-small-height);
  text-transform: uppercase;
  border: 2px solid var(--color-yellow);
  border-radius: 2.4rem;
  background: linear-gradient(225deg, var(--myColor5), var(--myColor6));
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
@media (hover: hover) {
  .header__buttons-lang-item:hover {
    border: transparent;
    --myColor5: var(--color-accent);
    --myColor6: var(--color-pink);
  }
}
@media (hover: none) {
  .header__buttons-lang-item:active {
    border: transparent;
    --myColor5: var(--color-accent);
    --myColor6: var(--color-pink);
  }
}
.header__buttons-lang-item:first-child, .header__buttons-lang-item:last-child {
  top: 0;
}
@media (max-width: 1023px) {
  .header__buttons-lang-item {
    height: 4rem;
  }
}
@media (max-width: 767px) {
  .header__buttons-lang-item {
    height: 3.28rem;
  }
}
.header__buttons-lang svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--color-yellow);
}
@media (max-width: 767px) {
  .header__buttons-lang svg {
    width: 2rem;
    height: 2rem;
    -moz-column-gap: 0.85rem;
         column-gap: 0.85rem;
  }
}
.header__buttons-lang span {
  line-height: 1;
}

.mobile-overlay {
  position: absolute;
  top: -100%;
  left: 0;
  z-index: 1;
  width: 100%;
  height: calc(100% - 9.6rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  transition: top 0.25s ease-in-out;
}
.mobile-overlay::-webkit-scrollbar {
  width: 0.8rem;
}
.mobile-overlay::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.0705882353);
}
.mobile-overlay::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
  border-radius: 1rem;
}
.mobile-overlay__body {
  width: 100%;
}
.mobile-overlay__list {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.mobile-overlay__item {
  height: 5rem;
  border: var(--border-thin);
  border-radius: 2.8rem;
}
@media (hover: hover) {
  .mobile-overlay__item:hover {
    border-color: transparent;
  }
}
@media (hover: none) {
  .mobile-overlay__item:active {
    border-color: transparent;
  }
}
.mobile-overlay__link {
  color: inherit;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
  padding-left: 2rem;
  border-radius: 2.8rem;
  background: linear-gradient(225deg, var(--myColor3), var(--myColor4));
  transition: --myColor3 0.3s, --myColor4 0.3s;
}
.mobile-overlay__link, .mobile-overlay__link:hover {
  text-decoration: none;
}
@media (hover: hover) {
  .mobile-overlay__link:hover {
    --myColor3: var(--color-accent);
    --myColor4: var(--color-pink);
  }
}
@media (hover: none) {
  .mobile-overlay__link:active {
    --myColor3: var(--color-accent);
    --myColor4: var(--color-pink);
  }
}
.mobile-overlay__buttons {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  padding-top: 3rem;
}
.mobile-overlay__buttons button {
  height: 4.6rem;
}
.mobile-overlay__buttons .mobile-overlay__btn--login {
  width: 100%;
  background-color: var(--color-brown);
  border-color: var(--color-yellow);
  border-radius: 2.4rem;
  transition: border-color 0.3s;
}
@media (hover: hover) {
  .mobile-overlay__buttons .mobile-overlay__btn--login:hover {
    border-color: transparent;
  }
}
@media (hover: none) {
  .mobile-overlay__buttons .mobile-overlay__btn--login:active {
    border-color: transparent;
  }
}

.mobile-overlay.open {
  top: 9.6rem;
}/*# sourceMappingURL=styles.css.map */